{%- liquid
  if card_product
    assign current_product = card_product
  elsif product
    assign current_product = product
  endif
-%}

<form method="post" action="/cart/add" accept-charset="UTF-8" class="product-form" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{ current_product.selected_or_first_available_variant.id }}" />
  
  <button
    type="submit"
    name="add"
    class="button button--primary button--full-width"
    {% if current_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
  >
    <span>
      {%- if current_product.selected_or_first_available_variant.available -%}
        Add to cart
      {%- else -%}
        Sold out
      {%- endif -%}
    </span>
  </button>
</form>